:root {
  --theme-color: 80;
}
html {
  font-size: 62.5%;
}
/* ProcedureContainer */
.container-frame {
  height: 100vh;
}
.container-wrapper {
  height: 100%;
  display: flex;
}

/* LeftContainer */
.left-container {
  width: 600px;
  margin-top: 80px;
}
.width-adjustment {
  min-width: 310px;
  margin-left: 100px;
}
.top-wrapper > div {
  margin-top: 20px;
}
.title-field,
.phase-field {
  display: flex;
  max-height: 40px;
}
.title-field > div,
.phase-field > div {
  width: 80%;
}
.second-wrapper {
  margin-top: 80px;
}
.content-field {
  display: flex;
  flex-wrap: nowrap;
}
.content-field > button {
  margin-top: auto;
  margin-bottom: 10px;
}
.error-message {
  color: red;
  font-weight: 600;
}

/*★ RightContainer */
.right-container-wrapper {
  flex: 1;
  padding-bottom: 60px;
}
.title-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
.title-wrapper > h2 {
  line-height: 64px;
  padding: 0 10px;
  color: hsl(var(--theme-color) 70% 40%);
}
.title-wrapper > span {
  line-height: 64px;
  margin-left: 15px;
}
.procedure-wrapper {
  min-width: 600px;
  width: 60%;
  margin: 0 auto;
  outline: thick double #a9a9a9;
  border-radius: 6px;
}

.decide-button-area {
  position: fixed;
  right: 0;
  bottom: 0;
  border-top: 1px solid;
  border-left: 1px solid;
  border-radius: 10px 0 0 0;
  padding-top: 24px;
  background: white;
}

/* ★PhaseListItem */
.phase-container {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.phase-name-wrapper {
  text-align: center;
}
.phase-name {
  margin: 0 auto;
  width: 80%;
  text-align: justify;
}
.open-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  cursor: pointer;
}
.phase-name-wrapper h3 {
  display: inline;
  padding: 0;
  font-size: 20px;
  margin: 0;
  line-height: 60px;
  color: hsl(var(--theme-color) 60% 30%);
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  border-image-slice: 8;
}
.content-list-wrapper {
  animation: fadeIn 0.8s;
}

/* ★ContentListItem*/

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-container {
  display: flex;
  /* padding: 10px 8px 10px 15px; */
  line-height: 40px;
  position: relative;
  width: 100%;
}
.content-list {
  width: 80%;
  padding: 10px 0px 10px 15px;
}
.content-list > div {
  width: 100%;
}
.content-container > .content {
  display: flex;
  align-items: center;
  width: 75%;
}
.content-container > .content-delete {
  position: absolute;
  right: -40px;
  top: 50%;
}
.procedure-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.procedure-in-button > svg:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 0.4em transparent;
}
.skip-button {
  margin-left: 10px;
}
.skip-button,
.check-button {
  color: #b3b3b3;
  font-family: Arial Black;
  height: 62px;
  width: 58px;
  line-height: 62px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.check-button > span,
.skip-button > span {
  width: 48.3px;
  display: inline-block;
  border: 4px solid;
  border-radius: 50%;
  line-height: 48.3px;
}
.check-button > span > svg {
  vertical-align: middle;
  padding-bottom: 4px;
}
.skip-button:hover {
  color: #dcdcdc;
}
.check-button:hover {
  color: #dcdcdc;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0;
  }
}
.skip-button.active {
  color: red;
  cursor: pointer;
  animation: pulse 1s;
  box-shadow: 0 0 0 0.4em transparent;
}
.check-button.active {
  color: green;
  cursor: pointer;
  animation: pulse 1s;
  box-shadow: 0 0 0 0.4em transparent;
}

/* ProcedureDetail */
.procedure-detail-wrapper {
  width: 50%;
  min-width: 595px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 2px;
  outline: 4px double green;
}
.procedure-flame {
  background: hsl(var(--theme-color) 80% 50%);
  margin: 30px 0 0 32px;
  width: 350px;
  border-radius: 8px;
}

.procedure-icon {
  cursor: pointer;
}

.procedure-icon:hover {
  color: rgba(155, 155, 155, 0.6);
}
.procedure-complete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 60%;
  margin: 0 auto;
}
.procedure-complete-button > button {
  height: 36px;
  width: 80%;
  background: hsl(var(--btnc1), 85%, 59%);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
.procedure-complete-button > button:hover {
  background: hsl(var(--btnc1), 85%, 69%);
}
