:root {
  --theme-color: 80;
}
/* ProcedureContainer */
.container-wrapper {
  display: flex;
  background: hsl(var(--theme-color) 60% 90%);
}

/* LeftContainer */
.left-container {
  width: 600px;
  margin-top: 80px;
}
.width-adjustment {
  min-width: 310px;
  margin-left: 100px;
}
.top-wrapper > div {
  margin-top: 20px;
}
.title-field,
.phase-field {
  display: flex;
}
.second-wrapper {
  margin-top: 80px;
}
.content-field {
  display: flex;
  flex-wrap: nowrap;
}
.content-field > button {
  margin-top: auto;
  margin-bottom: 10px;
}
.error-message {
  color: red;
  font-weight: 600;
}

/*★ RightContainer */
.right-container-wrapper {
  outline: 1px solid red;
  flex: 1;
}
.title-wrapper {
  display: flex;
  padding: 0;
}
.title-wrapper > h2 {
  line-height: 64px;
  padding: 0 10px;
}
.title-wrapper > span {
  line-height: 64px;
  margin-left: 15px;
}

/* phase-container */
.phase-container {
  outline: 1px solid;
  border-radius: 8px 8px 0 0;
  list-style: none;
  margin: 40px auto 0;
  padding: 0;
  width: 60%;
}
.phase-name-wrapper {
  line-height: 36px;
}
.phase-name-wrapper > h3 > span {
  margin: auto 8px;
  vertical-align: middle;
}
.phase-container > div {
  border-bottom: 1px solid;
  background: hsl(var(--theme-color) 80% 50%);
}
.phase-container > div > h3 {
  margin: 0;
  padding: 0;
  color: white;
}

/* content-container */

.content-container {
  font-size: 18px;
  display: flex;
  margin: 10px 8px 10px 15px;
  line-height: 40px;
}
.content-container > .content {
  width: 80%;
}
.content-container > .content-delete {
  width: 20%;
  text-align: center;
  margin: auto 0;
}
